@import url("http://fonts.googleapis.com/css?family=Roboto:400,300");
/* line 1, ../scss/_shared/_reset.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../scss/_shared/_form.scss */
.label, .input, .select, .raido, .checkbox, .textarea, .button {
  outline: 0;
  border: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 10, ../scss/_shared/_form.scss */
input[type="button"],
input[type="submit"],
input[type="search"],
select {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* line 20, ../scss/_shared/_form.scss */
.label {
  font-size: 14px;
  display: block;
  margin-bottom: 7px;
  font-weight: 400;
  color: #34495e;
}

/* line 28, ../scss/_shared/_form.scss */
.input, .select, .textarea {
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 33, ../scss/_shared/_form.scss */
.input, .textarea {
  background: #fff;
  position: relative;
  vertical-align: top;
  border: 2px solid #bdc3c7;
  display: -moz-inline-stack;
  display: inline-block;
  color: #34495e;
  height: 42px;
  width: 100%;
}
/* line 43, ../scss/_shared/_form.scss */
.input.append-icon, .textarea.append-icon {
  padding-right: 36px;
  padding-left: 10px;
}
/* line 47, ../scss/_shared/_form.scss */
.input.prepand-icon, .textarea.prepand-icon {
  padding-right: 10px;
  padding-left: 36px;
}

/* line 53, ../scss/_shared/_form.scss */
.input:hover, .textarea:hover {
  border-color: #2ECC71;
}

/* line 57, ../scss/_shared/_form.scss */
.textarea {
  resize: none;
  line-height: 19px;
  overflow: auto;
  max-width: 100%;
  height: 96px;
}
/* line 63, ../scss/_shared/_form.scss */
.textarea:focus {
  height: 120px;
}

/* line 68, ../scss/_shared/_form.scss */
.button {
  background: #2ECC71;
  height: 42px;
  border: 0;
  color: #fff;
  line-height: 1;
  font-size: 15px;
  cursor: pointer;
  padding: 0 18px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  -webkit-user-drag: none;
  outline: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 86, ../scss/_shared/_form.scss */
.button:hover, .button:focus {
  background-color: #27AE60;
}

/* line 10, ../scss/style.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 15, ../scss/style.scss */
body {
  background: #34495e;
  font-family: "Roboto",Arial,Helvetica,sans-serif;
  line-height: 1.231;
  font-weight: 400;
  font-size: 14px;
  color: #626262;
}

/* line 24, ../scss/style.scss */
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

/* line 29, ../scss/style.scss */
.clean_wrap {
  width: 500px;
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  -ms-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  border-radius: 5px 5px;
}

/* line 37, ../scss/style.scss */
.form_header {
  background-color: #2ECC71;
  border-bottom: 5px solid #27AE60;
  overflow: hidden;
  position: relative;
  padding: 25px 30px;
}
/* line 44, ../scss/style.scss */
.form_header h4 {
  text-align: left;
  font-weight: 300;
  font-size: 32px;
  color: #fff;
}

/* line 52, ../scss/style.scss */
.form_body {
  padding: 40px 30px;
  padding-bottom: 20px;
  background: #fff;
}
/* line 56, ../scss/style.scss */
.form_body .field {
  margin-bottom: 22px;
}

/* line 61, ../scss/style.scss */
.form_footer {
  background: #f3f3f3;
  padding: 20px 25px;
}
